<div id="<%= dom_id course %>">
  <p>
    <strong>Course number:</strong>
    <%= course.course_number %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= course.title %>
  </p>

  <p>
    <strong>Instructor:</strong>
    <%= course.instructor_id %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= course.year %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= course.semester %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= course.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= course.end_date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= course.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= course.end_time %>
  </p>

  <p>
    <strong>Monday:</strong>
    <%= course.monday %>
  </p>

  <p>
    <strong>Tuesday:</strong>
    <%= course.tuesday %>
  </p>

  <p>
    <strong>Wednesday:</strong>
    <%= course.wednesday %>
  </p>

  <p>
    <strong>Thursday:</strong>
    <%= course.thursday %>
  </p>

  <p>
    <strong>Friday:</strong>
    <%= course.friday %>
  </p>

  <p>
    <strong>Saturday:</strong>
    <%= course.saturday %>
  </p>

  <p>
    <strong>Sunday:</strong>
    <%= course.sunday %>
  </p>

</div>
