<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <div class="d-flex gap-2">
    <%= link_to "Edit", [:edit, :admin, @user], class: "btn btn-outline-secondary btn-sm" %>
    <%= link_to "Back", admin_users_path, class: "btn btn-outline-primary btn-sm" %>
    <%= button_to "Destroy this user", [:admin, @user], method: :delete, class: "btn btn-outline-danger btn-sm" %>
  </div>


</div>
