<!DOCTYPE html>
<html>
<head>
  <title>Ohlone Course Assistant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>




  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <!-- Importmap for Rails 8 -->
  <%= javascript_importmap_tags %>



<body data-controller-name="<%= controller_name %>" data-action-name="<%= action_name %>">


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Ohlone Course Assistant</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>

        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
              </a>
              <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                <li><%= link_to "Courses", admin_courses_path, class: "dropdown-item" %></li>
                <li><%= link_to "Users", admin_users_path, class: "dropdown-item" %></li>
              </ul>
            </li>
          <% end %>

          <% if current_user.instructor? %>
            <li class="nav-item">
              <%= link_to "My Courses", instructor_courses_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Help Queue", instructor_help_queues_path, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Enroll", student_courses_path, class: "nav-link" %>
            </li>
          <% end %>

          <li class="nav-item">
            <span class="nav-link">Signed in as <strong><%= current_user.first_name %> <%= current_user.last_name[0] %></strong></span>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</nav>
<% flash.each do |key, message| %>
  <% alert_class = case key.to_sym
                   when :notice then "alert alert-success"
                   when :alert  then "alert alert-danger"
                   when :error  then "alert alert-danger"
                   else "alert alert-info"
                   end %>
  <div class="<%= alert_class %> alert-dismissible fade show" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<!-- Main content -->
<main class="container py-5">
  <%= yield %>
</main>

<!-- Footer -->
<footer class="text-center py-4 mt-5" style="background-color: #006341; color: white;">
  &copy; <%= Time.current.year %> Ohlone College - Computer Science Department
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>
</html>
